body {
    background-image: url("Triangles.jpg");
    background-repeat: repeat;
}

.container {
    width: 80%;
    margin: 0 auto;
}
ul {
    list-style-type: none;
    margin-right: 0;
    padding-top: 20px;
    text-align: center;
  }
li {
    display: inline;
  }
#name {
    float: left;
    background: rgb(114, 152, 216);
    color: white;
    width: 200px;
    height: 30px;
    margin-top: 10px;
    margin-left: 200px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

#navigation {
    float: right;
    background: antiquewhite;
    margin-right: 120px;
    width: 300px;
    height: 70px;
    margin-top: 10px;
    color: rgb(114, 152, 216)
}
#box {
    background: rgb(220, 243, 247);
    width: 80%;
    margin: 0 auto;
    clear: left;
    padding: 20px;
}
#box-2 {
    background: rgb(220, 243, 247);
    width: 80%;
    margin: 0 auto;
    clear: left;
    padding: 20px;
    height:300px;
}
/*#form {
    background: antiquewhite;
    float: center;
    margin: 0 auto;
    width: 60%;
    height: 200px;
}*/
#pic {
    width: 200px;
    float: left;
    margin-right: 20px;
}
#harold {
    width: 180px;
    float: right;
    margin-left: 20px;
}
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(41, 41, 109);
   
}