body {
    background-image: url("Triangles.jpg");
    background-repeat: repeat;
}

.container {
    width: 80%;
    margin: 0 auto;
}
ul {
    list-style-type: none;
    margin-right: 0;
    padding-top: 20px;
    text-align: center;
  }
li {
    display: inline;
  }
#name {
    float: left;
    background: rgb(114, 152, 216);
    color: white;
    width: 200px;
    height: 30px;
    margin-top: 10px;
    margin-left: 200px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

#navigation {
    float: right;
    background: antiquewhite;
    color: rgb(114, 152, 216);
    
    margin-right: 120px;
    width: 300px;
    height: 70px;
    margin-top: 10px;
    color: rgb(114, 152, 216);
}
#maude {
    width: 200px;
    position: absolute;
    top: 250px;
    right: 200px;
    bottom: 280px;

}
a:link {
    color: rgb(29, 29, 29);
}
a:visited {
    color: rgb(41, 41, 109);
}
a:hover {
    color: rgb(223, 62, 3);
}
#box {
    clear: both;
    overflow: auto;
    background: rgb(220, 243, 247);
    width: 80%;
    margin: 0 auto;
    clear: left;
    padding: 20px;
   
}
#box-2 {
    clear: both;
    overflow: auto;
    position: relative;
   
    width: 80%;
    margin-left: 100px;
    padding: 20px;
    height:300px;
}
#box-3 {
    clear: both;
    overflow: auto;
    background: rgb(220, 243, 247);
    width: 80%;
    margin: 0 auto;
    clear: left;
    padding: 20px;
    height:430px;
}
.form {
    background: rgb(220, 243, 247);
    float: center;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    height: 300px;
    font-size: 24px;
    line-height: 40px;    
}
#pic {
    width: 200px;
    float: left;
    margin-right: 20px;
}
#harold {
    width: 180px;
    float: right;
    margin-left: 20px;
}
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(41, 41, 109);
   
}
.etsy {
    background: antiquewhite;
    color: rgb(114, 152, 216);
    padding: 20px;
    margin: 20px;
    width: 100px;
    height: 50px;
    float: left;
}
.instagram {
    background: antiquewhite;
    color: rgb(114, 152, 216);
    padding: 20px;
    margin: 20px;
    width: 100px;
    height: 50px;
    float: left;
}
.e {
    width: 200px;
}

.ig {
    margin-top: 20px;
    width: 200px;
}
.copyright {
    background: rgb(114, 152, 216);
    margin-top: 10px;
    width: 80%;
    padding: 20px;
    margin-left: 110px;
    text-align: center;
    position: sticky;
    top: 0;
}